/*
 @font-face {
    src: url(fonts/Roboto-Medium.ttf) format('truetype');
    font-family: 'Roboto';
    font-weight: normal;
}
*/

@font-face {
    src: url(fonts/Roboto-Regular.ttf) format('truetype');
    font-family: 'Roboto';
}

@font-face {
    src: url(fonts/Roboto-Bold.ttf) format('truetype');
    font-family: 'Roboto';
    font-weight: bold;
}

@font-face {
    src: url(fonts/Cookie-Regular.ttf) format('truetype');
    font-family: 'Cookie';
}

@font-face {
    src: url(fonts/Product-Sans-Regular.ttf) format('truetype');
    font-family: 'ProductSans';
}

@font-face {
    src: url(fonts/Product-Sans-Bold.ttf) format('truetype');
    font-family: 'ProductSans';
    font-weight: bold;
}

* {
    font-family: 'Roboto';
}

h1 {
    color: white;
}

.prd-sans {
    font-family: 'ProductSans';
}

.bold-text {
    font-weight: bold;
}

.wrapper {
    margin: auto;
    max-width: 1296px;
    padding: 24px;
}

.card {
    min-height: 200px;
    padding: 12px;
}

.card .card-title {
    font-weight: bold;
    font-size: 30px;
}

.card p {
    font-size: 17px;
    text-align: justify;
}

.nav-wrapper {
    background: #E8286F;
}

.nav-wrapper a {
    font-size: 28px;
}

.midnight {
    background: #34495e !important;
}

.gray {
    background: #2f343e !important;
}

.highlight {
    color: #2f343e;
    font-weight: bold;
}

.back {
    background: #eb2e7a;
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 24px;
    padding: 10px 20px;
    text-decoration: none;
}

.cat {
    color: #E8286F;
    font-weight: bold;
    padding: 0px 12px;
    text-decoration: underline;
}

.index-img {
    height: 128px;
    max-width: 128px;
    min-width: 128px;
    width: 128px;
}

.google-play img {
    width: 240px;
}

.app-content {
    padding: 48px !important;
}

.yuh {
    color: #E8286F;
    font-weight: bold;
}

.yuh-apps {
    background: #E8286F;
    border-radius: 32px;
    color: white;
    font-size: 26px;
    font-weight: bold;
    padding: 12px 24px !important;
}

@media screen and (max-width: 1024px) {

    .card {
        min-height: 0px;
    }

    .card .card-title {
        font-size: 28px;
    }

    .back {
        font-size: 20px;
    }

}

@media screen and (max-width: 600px) {

    h4.cat {
        font-size: 2rem;
    }

    .card {
        padding: 12px;
    }

    .card .card-content {
        padding: 12px;
    }

    .card .card-title {
        font-size: 18px;
    }

    .card p {
        font-size: 16px;
        text-align: justify;
    }

    .index-img {
        height: 64px;
        max-width: 64px;
        min-width: 64px;
        width: 64px;
    }
    
    .app-content {
        padding: 12px !important;
    }

    .back {
        font-size: 18px;
    }
}
