@font-face {
    src: url(../fonts/Roboto-Regular.ttf) format('truetype');
    font-family: 'Roboto';
}

@font-face {
    src: url(../fonts/Roboto-Bold.ttf) format('truetype');
    font-family: 'Roboto';
    font-weight: bold;
}

@font-face {
    src: url(../fonts/Cookie-Regular.ttf) format('truetype');
    font-family: 'Cookie';
}

@font-face {
    src: url(../fonts/Product-Sans-Regular.ttf) format('truetype');
    font-family: 'ProductSans';
}

@font-face {
    src: url(../fonts/Product-Sans-Bold.ttf) format('truetype');
    font-family: 'ProductSans';
    font-weight: bold;
}

body {
    background: #dddddd;
    font-family: 'Roboto';
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    --primary-color: #303f9f;
    --accent-color: #00b8d4;
}

header {
    background: var(--primary-color);;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    color: white;
    font-family: 'ProductSans';
    font-size: 28px;
    font-weight: bold;
    padding: 20px;
    position: sticky;
    position: --webkit-sticky;
    top: 0;
    z-index: 2;
}

main {
    margin: 5vh auto;
    max-width: 1500px;
    padding: 5vh 1vh;
    width: 90%;
}

input {
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    margin: 20px;
    max-width: 1200px;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    width: 80%;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: #aaa;
    opacity: 1;
}

button {
    background: white;
    border: 2px solid var(--primary-color);
    border-radius: 40px;
    color: var(--primary-color);;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin: 5px 10px;
    min-width: 260px;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
}

button:active {
    /* border: 2px solid var(--accent-color); */
    background: var(--accent-color);
}

button:focus {
    outline: none;
}

p {
    margin: 20px auto;
    text-align: justify;
    width: 80%;
    word-wrap: break-word;
}

a, a:active {
    color: var(--primary-color);
}

footer {
    margin-bottom: 40px;
    margin-top: 80px;
}

.card {
    background: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.btn-primary {
    background: var(--primary-color);
    color: white;
}

.btn-primary:active {
    /* border: 2px solid var(--primary-color); */
    background: var(--primary-color);
    color: var(--accent-color);
}

.primary {
    color: var(--primary-color);
}

.accent{
    color: var(--accent-color);
}

.bold {
    font-weight: bold;
}

.back {
    background: #eb2e7afe;
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    color: white;
    font-family: 'ProductSans';
    font-size: 24px;
    padding: 10px 20px;
    text-decoration: none;
}

#output {
    border: none;
    color: var(--primary-color);
    margin-bottom: 20px;
    text-align: center;
    vertical-align: middle;
}

#qr, #qr img {
    color: var(--accent-color);
    margin: auto;
    width: 256px;
}

#buttons {
    margin: 20px auto;
}

@media screen and (max-width: 1510px) {

    button {
        margin: 5px 20px;
        min-width: 320px;
    }

    #buttons {
        max-width: 825px;
    }
}

@media screen and (max-width: 1100px) {

    button {
        min-width: 260px;
    }

}

@media screen and (max-width: 960px) {

    button {
        margin: 5px 10px;
    }

    #qr, #qr img {
        width: 192px;
    }
}

/* @media screen and (max-width: 850px) and (max-height: 420px) {

    header {
        font-size: 20px;
        padding: 10px;
    }

} */

@media screen and (max-width: 785px) {

    header {
        font-size: 24px;
        padding: 15px;
    }

    input {
        font-size: 16px;
        margin: auto;
    }

    p {
        font-size: 16px;
    }

    button {
        font-size: 16px;
        padding: 10px 20px;
        width: 400px;
    }

    #output {
        margin: 15px auto;
    }
}

@media screen and (max-width: 500px) {

    input {
        font-size: 15px;
        margin: auto;
        padding: 10px;
        width: 80%;
    }

    p {
        font-size: 15px;
        width: 85%;
    }

    button {
        margin: 5px auto;
        max-width: 250px;
        padding: 10px 20px;
    }

    footer {
        margin-bottom: 20px;
        margin-top: 40px;
    }

    .back {
        font-size: 18px;
    }

    #buttons {
        margin: auto;
    }

    #output {
        margin: 15px auto;
        margin-bottom: 30px;
    }

    #qr, #qr img {
        width: 128px;
    }
}

@media screen and (max-width: 360px) {

    input {
        font-size: 14px;
        margin: auto;
    }

    p {
        font-size: 14px;
    }

    button {
        font-size: 13px;
        margin: 5px 0;
        min-width: 0;
        padding: 10px 20px;
    }
}

@media screen and (max-height: 420px) {

    header {
        font-size: 20px;
        padding: 10px;
    }

    input {
        font-size: 14px;
        margin: auto;
    }

    p {
        font-size: 14px;
    }

    button {
        font-size: 13px;
        margin: 8px 8px;
        min-width: 0;
        padding: 8px;
        width: 240px;
    }

    .back {
        font-size: 15px;
    }

    #output {
        margin: 0 auto;
    }

    #buttons {
        margin: 0;
    }

}

@media screen and (max-height: 360px) {

    button {
        width: 210px;
    }

}
