input {
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    margin: 20px auto;
    padding: 10px 20px;
    text-align: center;
    width: 90% !important;
}

input:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

input::placeholder {
    color: #aaa;
    opacity: 1;
}

p {
    margin: 20px auto;
    text-align: justify;
    width: 90%;
    word-wrap: break-word;
}

div.center {
    margin-bottom: 20px;
}

.btn {
    width: 100%;
}

div.button-wrapper {
    margin-bottom: 12px;
}

.bold {
    font-weight: bold;
}

#output {
    border: none;
    margin-bottom: 20px;
    text-align: center;
    vertical-align: middle;
}

#qr, #qr img {
    margin: auto;
    width: 256px;
}

#buttons {
    padding: 12px;
    width: 90%;
}