input {
    padding: 4px 24px !important;
    width: calc(100% - 48px) !important;
}
input::placeholder {
    color: #a0a0a0;
}
div.center {
    margin-bottom: 20px;
    margin-top: 20px;
}
div.card {
    margin-top: 40px;
    padding: 12px 24px !important;
}
div.nav-wrapper {
    margin-bottom: 0;
    margin-top: 0;
}
.wrapper {
    margin-top: 20px;
}
.btn {
    margin: 20px;
}
.back {
    background: #eb2e7a;
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 24px;
    padding: 10px 20px;
    text-decoration: none;
}
@media screen and (max-width: 600px) {
    div.nav-wrapper a {
        font-size: 20px;
    }
    .wrapper {
        margin-top: 12px;
    }
    .btn {
        margin: 20px 8px;
    }
    .back {
        font-size: 18px;
    }
}