div.center {
    margin-bottom: 20px;
    margin-top: 20px;
}

div.card {
    margin-top: 40px;
    padding: 12px 24px !important;
}

div.nav-wrapper {
    margin-bottom: 0;
    margin-top: 0;
}

textarea {
    border: none;
    border-bottom: 2px solid #e0e0e0;
    font-size: 16px;
    line-height: 1.5;
    min-height: 60px;
    overflow: hidden;
    padding: 20px;
    resize: none;
}

textarea:focus, textarea:active {
    border-bottom: 2px solid #4caf50;
    outline: none;
}

.wrapper {
    margin-top: 20px;
}

.btn {
    margin: 20px;
}

@media screen and (max-width: 600px) {
    div.nav-wrapper a {
        font-size: 20px;
    }
    .wrapper {
        margin-top: 12px;
    }
    .btn {
        margin: 20px 8px;
    }
}